body{
    background-color: blueviolet;
    position: absolute;
    left: 35vw;
    margin: 0%;
}
h1{
    color: white;
}
.Box{
    background-color: white;
    width: 25vw;
    height: 35vh;
    padding-top: 1em;
    padding-left: 2em;
    border-radius: 5%;
}
.Tela{
    background-color: white;
    width: 20vw;
    height: 20vh;
    border: 2px solid black;
    overflow-y: scroll;
}
input,
button{
    border: 2px solid black;
    background-color: white;
}